body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 10%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#calculator{
    width: 450px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 15%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#display{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: #ffffff;
    font-size: 2.5rem;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    font-size: 3rem;
    cursor: pointer;   
    font-weight: bold;
    color: #ffffff;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.clear-display{
    background-color: hsl(0, 81%, 28%);
}
.clear-display:hover{
    background-color: hsl(0, 81%, 38%);
}
.btn-operator{
    background-color: hsl(35, 100%, 55%);
}
.btn-operator:hover{
    background-color: hsl(35, 100%, 65%);
}
.btn-operator:active{
    background-color: hsl(35, 100%, 75%);
}